body {
	background: #f8f9f4;
}

ul {
	list-style: decimal;
}

.App {
	text-align: center;
	min-height: 100vh;
	max-width: 800px;
	margin: 0 auto;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	/* background-color: #282c34; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #000;
}

.App-link {
	color: #61dafb;
}
.dailyTreats-data {
	max-width: 400px;
	margin: 0 auto;
}
.dailyTreats-data > ul {
	margin: 0 auto 50px;
}
.dailyTreats-data ul > li {
	height: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	align-items: flex-start;
	justify-content: center;
	width: 70%;
	margin: 0 auto;
}
button {
	margin-left: 30px;
	display: inline-block;
	border-radius: 50%;
	background: darkkhaki;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.Btn-submit-treats {
	display: block;
	margin: 30px auto;
	min-width: 120px;
	height: 45px;
	border-radius: 60px;
	background: forestgreen;
	color: ivory;
	border: none;
	font-weight: bold;
	box-shadow: 3px 4px black;
	text-align: center;
}
.Btn-submit-treats::placeholder {
	color: ivory;
}
